<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="./CSS/general.css">
    <link rel="stylesheet" href="./CSS/main.css">
    <title>main</title>
</head>
<body>
    <header>
        <span class="titulo">Titulo</span>
    </header>
    <div class="drawer">
        <section class="modalidades">
            <div class="mod_sel seleccion" onclick="selec(this)">CR</div>
            <div class="mod_sel seleccion" onclick="selec(this)">DX</div>
            <div class="mod_sel seleccion" onclick="selec(this)">US</div>
            <div class="mod_sel seleccion" onclick="selec(this)">CT</div>
            <div class="mod_sel seleccion" onclick="selec(this)">MR</div>
        </section>
        <section class="fechas">
            <div class="titulo">
                Deste
            </div>
            <div>
                <input type="date">
            </div>
            <div class="titulo">
                Hasta
            </div>
            <div>
                <input type="date">
            </div>
            <div class="btn_buscar">
                <button>Buscar</button>
            </div>
        </section>
    </div>
    <main>
        <ul>
            <li class="est_leido">
                <div class="list_cont">
                    <div class="nombre">
                        <span class="P_nombre">Jose Luis Camacho Moreno</span>
                        <span>Sexo: M</span>
                    </div>
                    <div class="mod">CT</div>
                    <div class="fecha">14/09/2018</div>
                </div>
            </li>
            <li>
                <div class="list_cont">
                    <div class="nombre">
                        <span class="P_nombre">juan pereda</span>
                        <span>Sexo: M</span>
                    </div>
                    <div class="mod">CR</div>
                    <div class="fecha">14/09/2018</div>
                </div>
            </li>
            <li>
                <div class="list_cont">
                    <div class="nombre">
                        <span class="P_nombre">juan pereda</span>
                        <span>Sexo: M</span>
                    </div>
                    <div class="mod">DX</div>
                    <div class="fecha">14/09/2018</div>
                </div>
            </li>
            <li>
                <div class="list_cont">
                    <div class="nombre">
                        <span class="P_nombre">Alejandro Miguel Balderrama Hurtado</span>
                        <span>Sexo: M</span>
                    </div>
                    <div class="mod">MR</div>
                    <div class="fecha">14/09/2018</div>
                </div>
            </li>
            <li>
                <div class="list_cont">
                    <div class="nombre">
                        <span class="P_nombre">juan pereda</span>
                        <span>Sexo: M</span>
                    </div>
                    <div class="mod">US</div>
                    <div class="fecha">14/09/2018</div>
                </div>
            </li>
        </ul>
    </main>
    <script src="./JS/main.js"></script>
</body>
</html>